[safe]
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
	directory = /var/www/html/nxt.bargains
